* {
  margin: 0;
  padding: 0;
}

.navbartext {
  display: flex;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 100%;

}

.security {
  color: red;
  margin-right: 5px;
  margin-left: 35%;
  font-weight: 700;
  font-size: 150%;
}

.consultant {
  color: white;
  font-weight: 700;
  font-size: 150%;
}

.alarmsystem {
  margin-left: 80%;
  font-family: 'Lucida Sans Unicode';
  font-weight: 700;
  font-size: 120%;
}

* {
  box-sizing: border-box;
}

.bg-img {
  background-image: url("assets/hero-img.jpg");
  min-height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.container {
  position: absolute;
  margin: 20px;
  max-width: 280px;
  padding: 16px;
  background-color: white;
  margin-left: 70%;
  margin-top: 5%;
  background-color: #fc2624;
  border-radius: 4px;
}

.container h4 {
  text-align: center;
  font-weight: 700;
  color: white;
}

.formSubHeading {
  color: white;
  font-weight: 600;
  text-align: center;
}

.text-heading {
  color: white;
}

/* Full-width input fields */
input[type=text],
input[type=password],
input[type=quoteref] {
  width: 100%;
  padding: 12px;
  margin: 5px 0 22px 0;
  border: none;
  border-radius: 2px;
  background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: black;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.btn:hover {
  opacity: 1;
}

.sectionTwo h3 {
  text-align: center;
  font-weight: 800;
  margin-top: 100px;
}

.sectionTwo p {
  text-align: center;
  font-weight: 500;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
}

.sectionTwo button {
  border: solid #fc2624;
  background-color: #fc2624;
  color: white;
  margin-left: 46%;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.containerSectionThree {
  display: flex;
  flex-wrap: wrap;
  background-color: #0eb1da;
  width: 100%;
  padding-left: 18%;
  padding-right: 15%;
  padding-top: 3%;
  gap: 30px;
  padding-bottom: 3%;
}

.divsec3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
  box-sizing: border-box;
}

.divsec3 img {
  width: 60px;
  height: 60px;
}

.divsec3 p {
  color: white;
}

.divsection4 {
  padding-bottom: 5%;
}

.divsection4 h3 {
  text-align: center;
  font-weight: 800;
  padding-top: 5%;
  padding-bottom: 3%;
}

.pictureandtext {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.pictureandtext img {
  width: 400px;
  height: 300px;
  border: 16px solid #f1f1f1;
}

.paragraph {
  font-size: 12px;
  width: 400px;
  height: 300px;
}

hr {
  width: 50%;
  margin: 0 auto;
  /* Center the <hr> element */
  border: 4px solid lightgrey;
  /* Optional: Adjust the border style as needed */
}

.section7 {
  background-color: #fc2624;
  text-align: center;
  font-weight: 800;
  margin-top: 100px;
  color: white;
  padding-top: 5%;
}

.section7 p {
  text-align: center;
  font-weight: 500;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
}

.section7 button {
  border: solid white;
  background-color: white;
  color: black;
  font-weight: 500;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.footer {
  text-align: center;
  padding: 8px;
  background-color: black;
  font-size: 14px;
  color: white;
}